doctype html
html(lang='en')
    head
        title TO DO App
        link(rel='stylesheet', href='/static/main.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100&display=swap' rel='stylesheet')
    body 
        div.wrapper
            h1.logo TO DO APP 

            block number1